
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width:900px;
  height: 500px;
  display: flex;
}

.card-image {
  width: 50%;
  background-image: url('https://img.freepik.com/free-vector/tablet-login-concept-illustration_114360-7883.jpg?t=st=1728111979~exp=1728115579~hmac=04bd8403a1ec241f0a426f63dff66e69b68334902a964194710a181dee896c97&w=740');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.form {
  width: 50%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

input:focus {
  outline: none;
  border-color: #007bff;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

.error-text {
  color: red;
  font-size: 12px;
  margin-top: -5px;
  margin-bottom: 10px;
}

.title{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #007bff;
  font-family: cursive;
}